<html>
    <head>
        <meta charset="UTF-8">
  <meta http-equiv="refresh" content="181">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--NAME/ICON-->
  <link rel="icon" type="image/x-icon" href="/img/worldsmart.png">
  <title>WorldSmart Overview</title>

  <!--CSS/BOOTSTRAP-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </head>
    <body>
        <center>
            <h1>This is a demo, it is not functional.</h1>
            <span>None of the functionality works, and it is purely just for looking at.<br>
            In the actual version, it grabs these stats from an API, lunch timers can be started<br>
            and stopped. You can add annual leave, remove it, set people to sick. The voicemails<br>
            and flashing red bar is also based on an API call, but it's statically set here.<br><br>
            The source code on <a href="https://github.com/jordiedh/WorldsmartDashboard">Github</a> has the original version.<br>If you have any inquiries, please contact me.</span>

            <br><br><a href="/" role="button" class="btn btn-primary">Enter Site</a><br><br><br><br>
            <h1>Information about the dashboard;</h1>
            <span>This dashboard shows stats for our helpdesk office at my old job, WorldSmart.<br>
            The main numbers represent tickets (support requests) per state (some states are merged).<br>
            New, indicates unassigned tickets, Open, indicates assigned unsolved tickets, obviously the<br>
            High/Urgent ones have a priority higher, and closed indicates how many have been closed today.<br><br>
            The people with numbers on the right are tickets closed today per person, the bar shows the % of<br>
            their shift completion for the day (in this case statically set), and the colour of the bar measures their stats for the day.<br>
            Red; on track for 0-8 for the day, yellow; on track for 9-11 for the day, green; on track for<br>
            12-23 for the day, blue; on track for 24+ for the day.</span>
        </center>
    </body>
</html>